div {
    color: blueviolet; 
    font-size: 80px;
    font-style: italic;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p {
    color: darkorange; font-size: 40px;
}